.navbar {
    position: relative;
    width: 100%;
    z-index: 999;
    right: 150px;
    padding: 50px 170px;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}



.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color:black;
    font-size: 1.2rem;
    font-weight: 600;
}

.navbar .logo a span {
    color: #327AEB;
    transition: all 0.3s ease;
}

.navbar.sticky .logo a span {
    color: black;
}

.navbar .menu li {

    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    display: flex;
    color:black;

    font-size: 1rem;
    font-weight: 500;
    margin-left: 20px;
    transition: color 0.3s ease;
}

.navbar .menu .btnCv {
    display: inline-block;
    background: #327AEB;
    color: black;
    font-size: 1rem;
    padding: 7px 20px;
    margin-top: 10px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid #327AEB;
    transition: all 0.3s ease;
}




.navbar .menu li a:hover {
    color: #327AEB;
}

.navbar.sticky .menu li a:hover {
    color: #fff;
}